<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      <%= link_to "My Recipes", recipe_index_path, class:"nav-item nav-link" %>
      </li>
      <li class="nav-item">
      <%= link_to "Public Recipes", recipe_public_recipes_path, class:"nav-item nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item active text-white mx-2 d-flex align-items-center ">
        <h3><%= "current_user.name" %></h3>
      </li>
      <li class="nav-item active mx-5">
        <img class="img-thumbnail" src=<%= image_path("person-circle.svg") %> style="width:50px;" />
      </li>
    </ul> 
  </div>
</nav>

